* {
	box-sizing: border-box;
}

:root {
	--font: 'Poppins';
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	font-family: var(--font), system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
