* {
	box-sizing: border-box;
}

:root {
	--primary-color: #ff5b2e;
	--secondary-color: #fff6ed;
	--tertiary-color: #000958;
}

html,
body {
	scroll-behavior: smooth;
	background: #fffaf5;
}

html {
	font-size: 62.5%;
}

body {
	font-family: 'Poppins', system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* ========== Common ============== */
a {
	text-decoration: none;
	display: inline-block;
	outline: none;
}

a:focus {
	outline: none;
}

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--font-weight: 500;
	--font-size: 1.6rem;
	--border-color: var(--primary-color);
	--text-color: var(--primary-color);
	--box-shadow: none;
	--border-radius: 31px;
	--background: transparent;
	--padding: 20px 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 1px solid;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	border-color: var(--border-color);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	background: var(--background);
	padding: var(--padding);
	color: var(--text-color);
	transition: opacity 0.3s ease-in;
}

.btn:hover {
	opacity: 0.85;
}

.section-title {
	--width: 446px;
	color: #000958;
	font-family: 'Sora', sans-serif;
	font-size: 5.2rem;
	font-weight: 700;
	line-height: 1.19;
	max-width: var(--width);
}

.section-content-title {
	--width: 325px;
	color: #000958;
	font-family: 'Sora', sans-serif;
	font-size: 2.2rem;
	font-weight: 600;
	max-width: var(--width);
}

.section-sub-title {
	color: #5e6085;
	font-family: 'Sora', sans-serif;
	font-size: 1.6rem;
	font-weight: 600;
}

.section-desc {
	--width: 431px;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.88;
	max-width: var(--width);
}

.section-sub-desc {
	--width: 391px;
	color: #656689;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.71;
	max-width: var(--width);
}

/* ============ Header ================= */
.header {
	background: rgb(255, 250, 245, 0.8);
	position: sticky;
	padding: 26px 0 13px;
	backdrop-filter: blur(80px);
	top: -13px;
	z-index: 100;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 36px;
}

.nav-item {
	position: relative;
	color: #5e6085;
	font-size: 1.4rem;
	font-weight: 500;
	white-space: nowrap;
}

.nav-item__active::before {
	box-sizing: border-box;
	position: absolute;
	content: attr(data);
	color: var(--tertiary-color);
	font-weight: 600;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-item::before {
	transition: 0.3s ease-in-out;
}

.nav-item:hover::before {
	box-sizing: border-box;
	position: absolute;
	content: attr(data);
	color: var(--tertiary-color);
	font-weight: 600;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signup-btn {
	--font-weight: 600;
	--font-size: 1.4rem;
	--border-color: var(--tertiary-color);
	--text-color: var(--tertiary-color);
	--border-radius: 25px;
	--padding: 18px 31px;
}

/* ============= Hero ============== */
.hero {
	display: flex;
	align-items: center;
	position: relative;
	min-height: calc(100vh - 90.6px);
}

.hero-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-bottom: 46px;
}

/* Hero Media */
.hero-media {
	position: relative;
	width: 47%;
}

.hero-media--img-big {
	display: inline-block;
	position: relative;
	z-index: 1;
}

.hero-media--img-big::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 230.962px;
	height: 230.962px;
	background: url('../icons/hero-icon-1.svg') no-repeat;
	z-index: 0;
	left: -58px;
	bottom: 10px;
}

.hero-media--img-big::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 50.346px;
	height: 100.83px;
	background: url('../icons/hero-icon-2.svg') no-repeat;
	z-index: 0;
	right: -39.5px;
	top: 16.66px;
}

.hero-media--img-big__wrapper {
	position: relative;
	width: 388px;
	height: 488px;
	border-radius: 16px;
	border: 3px solid #fff;
	background: linear-gradient(180deg, #ffa78d 0%, #ff8c60 100%);
	box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
	z-index: 1;
}

.hero-media--img-small__wrapper {
	position: relative;
	width: 186px;
	height: 244px;
	border-radius: 16px;
	border: 2px solid rgba(255, 255, 255, 0.65);
	background: linear-gradient(206deg, #faa7ad 4.68%, #e87f8a 98.09%);
	box-shadow: 8px 18px 36px -6px rgba(234, 148, 157, 0.17);
}

.hero-media--img-big__wrapper img,
.hero-media--img-small__wrapper img {
	position: absolute;
	max-width: 100%;
	object-fit: cover;
	bottom: 0;
	border-radius: 16px;
}

.hero-media--img-small {
	position: absolute;
	right: 0;
	top: 302px;
	z-index: 2;
}

.hero-media--card {
	position: absolute;
	width: 250px;
	height: 156px;
	border-radius: 10px;
	background: #fff;
	box-shadow: -17px 14px 68px -4px rgba(207, 174, 132, 0.25);
	z-index: 3;
	top: 426px;
	right: 171px;
	padding: 18px 14px;
}

.hero-media--card-item {
	display: flex;
	align-items: center;
	gap: 9px;
	padding: 20px 0;
}

.hero-media--card-item:first-child {
	padding-top: 0;
}

.hero-media--card-item:last-child {
	padding-bottom: 0;
}

.hero-media--card-img {
	width: 40px;
	height: 40px;
	border-radius: 10px;
	background: #fec23f;
}

.hero-media--card-img img {
	max-width: 100%;
	max-height: 100%;
	border-radius: 10px;
	object-fit: cover;
}

.hero-media--card-info {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.hero-media--card-info--title {
	font-family: 'Sora', sans-serif;
	color: #181e52;
	font-size: 1.4rem;
	font-weight: 600;
}

.hero-media--card-line__long {
	display: inline-block;
	width: 118px;
	height: 4px;
	border-radius: 10px;
	opacity: 0.08;
	background: #000958;
}

.hero-media--card-line__short {
	display: inline-block;
	width: 39px;
	height: 4px;
	border-radius: 10px;
	opacity: 0.08;
	background: #000958;
}

.hero-media--card-divider {
	width: 100%;
	height: 2px;
	background: #f2f2f2;
	border-radius: 1px;
}

/* Hero Info */
.hero-info {
	width: 44%;
}

.hero-info__title {
	max-width: 517px;
	color: #000958;
	font-family: 'Sora', sans-serif;
	font-size: 6.6rem;
	font-weight: 800;
	line-height: 1.15;
}

.hero-info__desc {
	margin-top: 24px;
	max-width: 391px;
	color: #656689;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.88;
}

.hero-info__cta {
	margin-top: 38px;
	display: flex;
	align-items: center;
	gap: 24px;
}

.hero-cta__btn {
	--font-weight: 600;
	--border-color: var(--primary-color);
	--text-color: #fff;
	--box-shadow: 0 13px 26px -8px rgba(255, 91, 46, 0.42);
	--background: var(--primary-color);
	--padding: 22px 30px;
}

.hero-cta__icon {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 20px;
	height: 20px;
	background: #fff;
	border-radius: 50%;
}

.hero-cta__schedule {
	color: #000958;
	font-size: 1.6rem;
	font-weight: 500;
	transition: 3s ease-in;
}

.hero-cta__schedule:hover {
	text-decoration: underline;
	text-underline-offset: 2px;
}

/* ============== About =============== */
.about {
	margin-top: 77px;
	padding: 53px 0;
}

.about-inner {
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: space-between;
}

/* About info */
.about-info {
	width: 41%;
}

.about-title {
	margin-top: 15px;
}

.about-desc {
	margin-top: 24px;
}

.about-experience {
	margin-top: 54px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	row-gap: 34px;
	column-gap: 36px;
}

.about-experience-item__content {
	color: #48496a;
	font-size: 1.8rem;
	font-weight: 500;
	white-space: nowrap;
}

.about-experience-item {
	display: flex;
	align-items: center;
	gap: 10px;
}

.about-experience-item__checkbox {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 24px;
	height: 24px;
	cursor: pointer;
	border-radius: 4px;
	background: #ff5d31;
	box-shadow: 0 4px 15px -3px rgba(255, 93, 49, 0.69);
}

/* About media */

.about-media {
	width: 42%;
	position: relative;
}

.about-media-wrapper {
	position: relative;
}

.about-media-wrapper::after {
	content: '';
	position: absolute;
	display: inline-block;
	background: url('../icons/about-icon.svg') no-repeat;
	width: 133.63px;
	height: 94.766px;
	right: -50px;
	top: 157px;
}

.about-media-img {
	position: relative;
	width: 494px;
	padding: 0 21px;
}

.about-media-img::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 336px;
	border-radius: 16px;
	background: linear-gradient(180deg, #fce0ef 0%, #fac3d1 100%);
	box-shadow: 11px 18px 65px 0 rgba(255, 155, 121, 0.12);
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	z-index: 0;
}

.about-media-img img {
	position: relative;
	max-width: 100%;
	z-index: 1;
}

.about-media-card {
	position: absolute;
	bottom: 238px;
	left: -92px;
}

.about-media-card-wrapper {
	display: flex;
	position: relative;
	flex-direction: column;
	align-items: center;
	gap: 14px;
	width: 136px;
	height: 156px;
	border-radius: 10px;
	background: #5bd6e2;
	box-shadow: -15px 26px 48px 0 rgba(85, 240, 255, 0.17);
	padding: 31px 26px;
}

.about-media-card-wrapper::after {
	content: '';
	position: absolute;
	display: inline-block;
	width: 54px;
	height: 54px;
	background: url('../icons/foot.svg') no-repeat;
	top: -38px;
	right: -3px;
}

.about-media-card__year {
	color: #fff;
	text-align: center;
	font-family: 'Sora', sans-serif;
	font-size: 4.2rem;
	font-weight: 700;
}

.about-media-card__text {
	color: #c6f4f9;
	text-align: center;
	font-size: 1.4rem;
	font-weight: 400;
	line-height: 1.43;
}

/* ============ Feature ============== */
.feature {
	margin-top: 77px;
	padding: 16px 55px;
}

.feature-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

/* Feature Media */
.feature-media {
	width: 39%;
}

.feature-media-wrapper {
	position: relative;
}

.feature-media-wrapper > img {
	position: absolute;
}

.feature-media-icon-line {
	top: -16px;
	left: 389px;
}

.feature-media-icon-triangle {
	bottom: 150px;
	left: 427px;
}

.feature-media-icon-circle {
	left: 377px;
	top: 435px;
}

.feature-media-img {
	width: 458px;
	height: 500px;
	border-radius: 18px;
	border: 2px solid #fff;
	background: linear-gradient(180deg, #c6e2fa 0%, #94c2ea 100%);
	box-shadow: 0 17px 77px -8px rgba(190, 165, 139, 0.17);
}

.feature-media-img img {
	max-width: 100%;
	overflow: hidden;
	object-fit: cover;
}

/* Feature Info */
.feature-info {
	width: 48%;
}

.feature-info-title {
	--width: 543px;
}

.feature-info-desc {
	--width: 511px;
	margin-top: 24px;
}

.feature-info-wrapper {
	margin-top: 55px;
}

.feature-list {
	display: flex;
	align-items: center;
	gap: 56px;
}

.feature-item {
	display: flex;
	align-items: center;
	gap: 11px;
	cursor: pointer;
}

.feature-item img {
	max-width: 21px;
	object-fit: contain;
}

.feature-item-title {
	color: #48496a;
	font-family: 'Sora', sans-serif;
	font-size: 1.8rem;
	font-weight: 600;
	white-space: nowrap;
}

.feature-info-divider {
	position: relative;
	margin-top: 10px;
	width: 100%;
	height: 2px;
	background: rgb(255, 91, 46, 0.07);
	border-radius: 1px;
}

.feature-info-sub-divider {
	position: absolute;
	width: 95px;
	height: 2px;
	border-radius: 1px;
	background: #ff5b2e;
	top: 0;
	left: 0;
	transition: left 0.3s ease-in-out;
}

.feature-info-sub-desc {
	--width: 391px;
	margin-top: 36px;
}

.feature-info-cta {
	position: relative;
	margin-top: 32px;
	color: #ff5d31;
	font-size: 1.6rem;
	font-weight: 500;
}

.feature-info-cta::before {
	content: '';
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 1.5px;
	border-radius: 1.5px;
	background: #ff5d31;
	left: 0;
	bottom: -5px;
}
