* {
	box-sizing: border-box;
}

:root {
	--primary-color: #ff5b2e;
	--secondary-color: #fff6ed;
	--tertiary-color: #000958;
}

html,
body {
	scroll-behavior: smooth;
}

html {
	font-size: 62.5%;
}

body {
	--font: 'Poppins';
	font-family: var(--font), system-ui, 'Segoe UI', Roboto, Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}

/* ========== Common ============== */
a {
	text-decoration: none;
	display: inline-block;
}

.container {
	width: 1170px;
	max-width: calc(100% - 48px);
	margin: 0 auto;
}

.btn {
	--font-weight: 500;
	--font-size: 1.6rem;
	--border-color: var(--primary-color);
	--text-color: var(--primary-color);
	--box-shadow: none;
	--border-radius: 31px;
	--background: transparent;
	--padding: 20px 40px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	border: 1px solid;
	font-weight: var(--font-weight);
	font-size: var(--font-size);
	border-color: var(--border-color);
	box-shadow: var(--box-shadow);
	border-radius: var(--border-radius);
	background: var(--background);
	padding: var(--padding);
	color: var(--text-color);
	transition: opacity 0.3s ease-in-out;
}

.btn:hover {
	opacity: 0.65;
}

/* ============ Header ================= */
.header {
	background: rgb(255, 250, 245, 0.8);
	position: sticky;
	padding: 26px 0 13px;
	backdrop-filter: blur(5px);
	top: -13px;
	z-index: 100;
}

.header-inner {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.header-nav {
	display: flex;
	align-items: center;
	gap: 36px;
}

.nav-item {
	position: relative;
	color: #5e6085;
	font-size: 1.4rem;
	font-weight: 500;
	white-space: nowrap;
}

.nav-item__active::before {
	box-sizing: border-box;
	position: absolute;
	content: attr(data);
	color: var(--tertiary-color);
	font-weight: 600;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.nav-item::before {
	transition: 0.3s ease-in-out;
}

.nav-item:hover::before {
	box-sizing: border-box;
	position: absolute;
	content: attr(data);
	color: var(--tertiary-color);
	font-weight: 600;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.signup-btn {
	--font-weight: 600;
	--font-size: 1.4rem;
	--border-color: var(--tertiary-color);
	--text-color: var(--tertiary-color);
	--border-radius: 25px;
	--padding: 18px 31px;
}
